{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gametables list</h1>

    <table>
        <thead>
            <tr>
                <th>Map Type</th>
                <th>Created by</th>
                <th>Open</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameTable in gameTables %}
            <tr>
                <td>{{ gameTable.mapType }}</td>
                <td>{{ gameTable.players[0].user.username }}</td>
                <td>{% if gameTable.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <form action="{{ path('gametable_join', { 'id': gameTable.id }) }}" method="get">
                            <input type="submit" value="show">
                    </form>
                </td>
                <td>
                    {% if fullStatus[gameTable.id] == false and alreadyPlaying == false %}
                    <form action="{{ path('gametable_join', { 'id': gameTable.id }) }}" method="post">
                        <input type="submit" value="join">
                    </form>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('gametable_new', {'type': '2-4'}) }}" method="get">
        <input type="submit" value="New 2-4 players game">
    </form>

    <form action="{{ path('gametable_new', {'type': '5-6'}) }}" method="get">
        <input type="submit" value="New 5-6 players game">
    </form>

{% endblock %}
