{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gametable</h1>

    <form action="{{ path('gametable_index') }}" method="get">
        <input type="submit" value="Back to the list">
    </form>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameTable.id }}</td>
            </tr>
            <tr>
                <th>Maptype</th>
                <td>{{ gameTable.mapType }}</td>
            </tr>
            <tr>
                <th>Open</th>
                <td>{% if gameTable.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <table class="table-dark">
        <tbody>
        <tr>
            <th>Player</th>
            <th>Color</th>
            <th>Dice roll</th>
        </tr>

        {% for player in gameTable.players %}
        <tr>
            <td>
                {{ player.user.getUsername }}
            </td>

            <td style="background-color: {{player.color}}">
                {% if player.user == app.user %}
                    {{ form_start(color_form) }}
                    {{ form_widget(color_form.color) }}
                    <input type="submit" value="Set color" style="display: none">
                    {{ form_end(color_form) }}
                {% else %}
            <div style="background-color: {{player.color}}">&nbsp;</div>
                {% endif %}
            </td>

            <td>
                {% if player.user == app.user %}
                    {% if player.initialDice is not null %}
                        {{ player.initialDice }}
                    {% else %}
                    {{ form_start(dice_roll_form) }}
                    <input type="submit" value="⚄ ⚅">
                    {{ form_end(dice_roll_form) }}
                    {% endif %}
                {% else %}
                {{ player.initialDice | default('⚄ ⚅') }}
                {% endif %}
            </td>

            {% if player.user == app.user %}
            <td>
                {{ form_start(leave_form) }}
                <input type="submit" value="Leave">
                {{ form_end(leave_form) }}
            </td>
            {% endif %}

        </tr>
        {% endfor %}

        {% if leave_form is null %}
        <tr>
            <td>
                <form action="{{ path('gametable_join', { 'id': gameTable.id }) }}" method="post">
                    <input type="submit" value="join" isFull="{{ isFull }}">
                </form>
            </td>
        </tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/gameTable/show.js') }}"></script>
{% endblock %}